
<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            <!-- Collect the nav links, forms, and other content for toggling -->

                {% if page.title == 'index' %}
                <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    <li>
                        <a class="page-scroll" href="#services">au menu</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#news">news</a>
                    </li>
                {% else %}
                <a class="navbar-brand page-scroll" href="{{site.url}}/">{{site.title}}</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="site.url"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{site.url}}/#services">au menu</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{site.url}}/#news">news</a>
                    </li>
                {% endif %}

                    <li>
                        <a class="page-scroll" href="{{ site.url }}/emploi/">emploi</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{ site.url }}/langue-japonaise/">langue japonaise</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{ site.url }}/formalites/">formalités</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    {% case page.title %}
    {% when 'index' %}
    <header class="bgimg">

        <!-- Video -->
        <div class="video-background">
            <div class="video-foreground">
                <div id="video-header"></div> 
            </div> 
        </div> 

            <!-- Site intro text -->
            <div class="container">
                <div class="intro-text">
                     <div class="intro-lead-in" style="text-shadow: 1px 1px #222;">Combines de derrière les fagots</div>
                     <div class="intro-heading" style="text-shadow: 2px 2px #d44950;">Pour survivre au japon</div>
                        <a href="#services" class="page-scroll buttonz">Yes !!</a>
                </div>
            </div>


    </header>
    {% when 'langue-japonaise' %}
         <header style="   
    background: url('{{ site.url }}/img/style/tri-blanc-up.png'), 50% 0 url('{{ site.url }}/img/header/{{ page.img }}');
    background-repeat: repeat-x, no-repeat ;
    background-position: bottom, center;
    background-size: auto, cover;">

          <div class="container">
            <div class="intro-text">
                {% for post in site.posts limit:1 %}
                 <div class="intro-heading" style="margin-bottom: 10px; text-shadow: 2px 2px #d44950;">{{ page.title }}</div>
                 <br>
                 <div class="intro-lead-in" style="text-shadow: 2px 1px 1px #222;">{{ page.description }}</div>
                {% endfor %}
                <br>
                 <a href="#post" class="page-scroll buttonz">Oshiete kudasai !</a>
            </div>
            <div id="post"></div>
         </div>
        
    </header>
     </header>
    {% when 'emploi' %}
         <header style="   
    background: url('{{ site.url }}/img/style/tri-blanc-up.png'), 50% 0 url('{{ site.url }}/img/header/{{ page.img }}');
    background-repeat: repeat-x, no-repeat ;
    background-position: bottom, center;
    background-size: auto, cover;">

          <div class="container">
            <div class="intro-text">
                {% for post in site.posts limit:1 %}
                 <div class="intro-heading" style="margin-bottom: 10px; text-shadow: 2px 2px #d44950;">{{ page.title }}</div>
                 <br>
                 <div class="intro-lead-in" style="text-shadow: 2px 1px 1px #222;">{{ page.description }}</div>
                {% endfor %}
                <br>
                 <a href="#post" class="page-scroll buttonz">Vite ! un taff !</a>
            </div>
            <div id="post"></div>
         </div>
        
    </header>
        {% when 'formalites' %}
         <header style="   
    background: url('{{ site.url }}/img/style/tri-blanc-up.png'), 50% 0 url('{{ site.url }}/img/header/{{ page.img }}');
    background-repeat: repeat-x, no-repeat ;
    background-position: bottom, center;
    background-size: auto, cover;">

          <div class="container">
            <div class="intro-text">
                {% for post in site.posts limit:1 %}
                 <div class="intro-heading" style="margin-bottom: 10px; text-shadow: 2px 2px #d44950;">{{ page.title }}</div>
                 <br>
                 <div class="intro-lead-in" style="text-shadow: 2px 1px 1px #222;">{{ page.description }}</div>
                {% endfor %}
                <br>
                 <a href="#post" class="page-scroll buttonz">Je suis prêt(e) !</a>
            </div>
            <div id="post"></div>
         </div>
        
    </header>
        {% when 'contact' %}
         <header style="   
    background: url('{{ site.url }}/img/style/tri-blanc-up.png'), 50% 0 url('{{ site.url }}/img/header/{{ page.img }}');
    background-repeat: repeat-x, no-repeat ;
    background-position: bottom, center;
    background-size: auto, cover;">

          <div class="container">
            <div class="intro-text">
                {% for post in site.posts limit:1 %}
                 <div class="intro-heading" style="margin-bottom: 10px; text-shadow: 2px 2px #d44950;">{{ page.title }}</div>
                 <br>
                 <div class="intro-lead-in" style="text-shadow: 2px 1px 1px #222;">{{ page.description }}</div>
                {% endfor %}
                <br>
                 <a href="#post" class="page-scroll buttonz">Envoyez moi un petit méssage !</a>
            </div>
            <div id="post"></div>
         </div>
        
    </header>
    {% else %}
     <header style="   
    background: url('{{ site.url }}/img/style/tri-blanc-up.png'), 50% 0 url('{{ site.url }}/img/header/{{ page.img }}');
    background-repeat: repeat-x, no-repeat ;
    background-position: bottom, center;
    background-size: auto, cover;">

          <div class="container">
            <div class="intro-text">
                {% for post in site.posts limit:1 %}
                 <div class="intro-heading" style="margin-bottom: 10px; text-shadow: 2px 2px #d44950;">{{ page.title }}</div>
                 <br>
                 <div class="intro-lead-in" style="text-shadow: 2px 1px 1px #222;">{{ page.description }}</div>
                {% endfor %}
                <br>
                 <a href="#post" class="page-scroll buttonz">Lire !</a>
            </div>
            <div id="post"></div>
         </div>
        
    </header>
    {% endcase %}

<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.url }}/">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

