<!DOCTYPE html>
<html>
    <head>
  <!-- favicon -->
<link rel="icon" type="image/x-icon" href="{{ "/favicon.png" | prepend: site.baseurl }}">
  <!-- facebook Open Graph Metadatas -->
<head>
<meta property="og:image" content="{{ site.baseurl }}/img/header/{{ page.img }}">
<meta property="og:image:url" content="{{ site.baseurl }}/img/header/{{ page.img }}">
<meta property="og:image:type" content="image/jpeg">
<meta content="{{ site.title }}" property="og:site_name">

{% if page.description %}
  <meta content="{{ page.description }}" property="og:description">
{% else %}
  <meta content="{{ site.description }}" property="og:description">
{% endif %}
</head>
<!-- Metadata -->
{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}


<article class="post" itemscope="" itemtype="http://schema.org/BlogPosting">
  <meta itemprop="keywords" content="{{ page.tags | join: ',' }}" />
  <meta itemprop="description"
        content="{{ content | strip_html | truncatewords: 40 }}" />

</article>
     
    </head>
    <body id="page-top" class="index">

    {% include header.html %}
    {% include head.html %}
    {% include js.html %}
    {% if page.title == 'index' %}
        {% include services.html %}
        {% include news.html %}
        {% include footer.html %}
        
        
    {% else %}
        {{ content }}
    {% endif %}

    </body>
</html>
