<!DOCTYPE html>
<html>

  
     

    <body id="page-top" class="index">

    {% include header.html %}
    {% include head.html %}
    {% include js.html %}
    {% if page.title == 'index' %}
        {% include services.html %}
        {% include news.html %}
        {% include footer.html %}
        
        
    {% else %}
        {{ content }}
    {% endif %}

    </body>
</html>
<script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'survival-chronicles'; // required: replace example with your forum shortname
      // var disqus_developer = 1; // Comment out when the site is live

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'https://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
    </script>